.definition-position {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: end;
  height: 2em;
  margin: 15px;
  padding: 10px;
}

.align-view {
  font-weight: bold;
  margin-left: 20px;
  width: 180px;
  font-size: 16px;
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.content-full-width {
  clear: both;
  margin: 10px;
  padding: 0;
}

.table-view {
  margin-bottom: 200px;
}

.emptyData {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
