<mat-card class="content-full-width">
  <mat-card-header class="header">
    <div>
      <h1>{{ title }}</h1>
    </div>
  </mat-card-header>

  <form class="config-form" [formGroup]="form">
    <div>
      <div *ngIf="isEdicao" class="content-full-width">
          <mat-checkbox class="checkbox-margin fonte" formControlName="isConcluida" labelPosition="before">Tarefa concluída?</mat-checkbox>
      </div>
      <div>
        <mat-form-field class="content-full-width">
          <mat-label>Meta do dia: </mat-label>
          <input
            matInput
            placeholder="Correr 10Km"
            formControlName="metaDiaria"
            name="metaDiaria"
            [errorStateMatcher]="matcher"
          />
          <mat-error *ngIf="f['metaDiaria']?.invalid">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field class="content-full-width">
          <mat-label>Descrição: </mat-label>
          <textarea
            matInput
            placeholder="Detalhe o objetivo"
            formControlName="descricao"
            name="descricao"
            [errorStateMatcher]="matcher"
          ></textarea>
          <mat-error *ngIf="f['descricao']?.invalid">Campo obrigatório</mat-error>
        </mat-form-field>
      </div>
      <div class="div-buttons">
        <div class="align-buttons">
          <button
            mat-flat-button
            color="warn"
            class="config-button"
            (click)="voltar()"
          >
            Voltar
          </button>
        </div>
        <div *ngIf="!isEdicao">
          <button
            mat-flat-button
            color="primary"
            aria-label="ícone para adição de meta"
            (click)="saveMeta(form)"
            class="config-button"
          >
            Cadastrar
          </button>
        </div>
        <div *ngIf="isEdicao">
          <button
            mat-flat-button
            color="primary"
            aria-label="ícone para edição de meta"
            (click)="updateMeta(form)"
            class="config-button"
          >
            Atualizar
          </button>
        </div>
      </div>
    </div>
  </form>
</mat-card>
